
.result-item {
    width:30%;  
    min-height: 30px;  
    background-color:white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    text-align: center;
    margin-top: 1rem;
    position: fixed;
    overflow-y: scroll;
    cursor: pointer;
}

.result-item:hover {
    color: rgb(0, 0, 0);
    opacity: 1

}